---
import { type Card } from './types/card';

interface Props extends Card {}

const { project, imagePath, technologies, keypoints } = Astro.props;
---

<div class='card'>
  <div class='card-info-overlay'>
    <div>
      <h3>{project}</h3>
      <ul>
        {keypoints.map((keypoint) => <li>{keypoint}</li>)}
      </ul>
    </div>
  </div>
  <img src={imagePath} alt='Temporary' />
  <div class='project-info'>
    <h3>{project}</h3>
    <div class='pills-container'>
      {technologies.map((tech, idx) => (idx < 4 ? <span class='pill'>{tech}</span> : null))}
      {technologies.length > 4 ? <span class='pill'> + others </span> : null}
    </div>
  </div>
</div>

<style>
  .card {
    position: relative;
    max-width: 400px;
    display: grid;
    margin: auto;
    background-color: hsl(40, 14%, 96%);
    box-shadow: 0px 4px 8px 0px hsla(150, 20%, 25%, 0.2);
    border: 2px solid hsla(0, 0%, 0%, 0);
    transition: ease-in-out 0.5s;
    border-radius: 10px;
    cursor: pointer;

    .card-info-overlay {
      position: absolute;
      border-radius: inherit;
      background-color: white;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      z-index: 1;
      opacity: 0;
      transition: ease-in-out 0.5s;

      padding: 20px;

      div {
        position: relative;
        padding: 0px 20px;
        h3 {
          margin-bottom: 20px;
        }

        ul {
          list-style-type: circle;
          padding: 0;
          padding-inline-start: 0px;
          margin-block-start: 0;
          margin-block-end: 0;

          li {
            font-size: 0.9rem;
            margin-bottom: 10px;
          }
        }
      }
    }

    h3 {
      text-align: center;
      font-weight: 600;
      font-size: 0.97em;
      margin-top: 20px;
    }

    img {
      width: 100%;
      border-radius: 10px 10px 0px 0px;
    }
  }

  .project-info {
    position: relative;

    .pills-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 20px;

      .pill {
        background-color: white;
        font-size: 0.8em;
        margin-bottom: 4px;
        margin-right: 6px;
        display: block;
        border-radius: 20px;
        border: 1px solid hsl(131, 22%, 29%);
        color: hsl(131, 22%, 29%);
        padding: 4px 10px;
      }
    }
  }

  .card:hover {
    border: 2px solid hsla(150, 20%, 25%, 0.8);

    .card-info-overlay {
      opacity: 1;
    }
  }
</style>
