---
import { Icon } from 'astro-icon/components';
interface Props {
  text: string;
  href: string;
  target: '_blank' | '_parent' | '_self' | '_top';
  className?: string;
  icon?: string;
}

const { text, className, href, target, icon } = Astro.props;
---

<a class={`link ${className}`} href={href} target={target}>
  {icon ? <Icon name={icon} class='mr-10' /> : null}
  {text}
</a>

<style>
  .link {
    display: block;
    height: 50px;
    padding: 0px 20px;
    border-radius: 4px;

    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
  }

  .mr-10 {
    margin-right: 10px;
  }

  .linkedin-link {
    display: flex;
    align-items: center;
    width: fit-content;

    background-color: hsl(131, 22%, 29%);
    color: white;
  }
</style>
